@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.UserRoles.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MyProject.UserRolesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>