@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.UserPermissions.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MyProject.UserPermissionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>